In [1]:
!pip install pycoingecko

Requirement already satisfied: pycoingecko in c:\users\user\anaconda3\lib\site-packages (3.1.0)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from pycoingecko) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->pycoingecko) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->pycoingecko) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->pycoingecko) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests->pycoingecko) (2.0.4)

In [2]:
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

In [3]:
import pandas as pd

In [4]:
sol_data = cg.get_coin_market_chart_by_id(id = 'solana', vs_currency = 'usd', days = 365)

In [5]:
type(sol_data)

dict

In [6]:
sol_data.keys()

dict_keys(['prices', 'market_caps', 'total_volumes'])

In [7]:
sol = pd.DataFrame({k:dict(v) for k,v in sol_data.items()})

In [8]:
sol.head()

                   prices   market_caps  total_volumes
1641513600000  150.723625  4.685469e+10   1.922945e+09
1641600000000  136.613309  4.261075e+10   2.713161e+09
1641686400000  142.376915  4.468044e+10   2.495098e+09
1641772800000  140.970690  4.384456e+10   1.383487e+09
1641859200000  135.982153  4.232055e+10   1.797340e+09

In [9]:
sol = sol.set_index(pd.to_datetime(sol.index,unit='ms'))

In [10]:
sol.head()

                prices   market_caps  total_volumes
2022-01-07  150.723625  4.685469e+10   1.922945e+09
2022-01-08  136.613309  4.261075e+10   2.713161e+09
2022-01-09  142.376915  4.468044e+10   2.495098e+09
2022-01-10  140.970690  4.384456e+10   1.383487e+09
2022-01-11  135.982153  4.232055e+10   1.797340e+09

In [11]:
sol.index.name = "Dates"

In [12]:
sol.head()

                prices   market_caps  total_volumes
Dates
2022-01-07  150.723625  4.685469e+10   1.922945e+09
2022-01-08  136.613309  4.261075e+10   2.713161e+09
2022-01-09  142.376915  4.468044e+10   2.495098e+09
2022-01-10  140.970690  4.384456e+10   1.383487e+09
2022-01-11  135.982153  4.232055e+10   1.797340e+09

In [13]:
sol.reset_index(inplace = True)

In [14]:
sol.head()

       Dates      prices   market_caps  total_volumes
0 2022-01-07  150.723625  4.685469e+10   1.922945e+09
1 2022-01-08  136.613309  4.261075e+10   2.713161e+09
2 2022-01-09  142.376915  4.468044e+10   2.495098e+09
3 2022-01-10  140.970690  4.384456e+10   1.383487e+09
4 2022-01-11  135.982153  4.232055e+10   1.797340e+09

In [15]:
sol[sol['prices'] == sol.prices.max()]

       Dates      prices   market_caps  total_volumes
6 2022-01-13  151.922254  4.753406e+10   2.048462e+09

In [16]:
sol[sol['prices'] == sol.prices.min()]

         Dates    prices   market_caps  total_volumes
357 2022-12-30  9.597795  3.537484e+09   8.383178e+08

In [17]:
sol['prices'].mean()

55.682282380277215